:root {
  --blue: #44484A;
  --gray: #B3B7B9;
  --dark-gray: #656F73;
}

body {
  margin: 1rem;
  background-color: #2A3037;
}

article {
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--blue);
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--gray);
}

img {
  box-shadow: 0px 5px 5px rgb(0 0 0 / 25%);
  border-radius: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer img {
  box-shadow: none;
  border-radius: unset;
  color: white;
}

footer button {
  box-shadow: 0px 5px 5px rgb(0 0 0 / 25%);
}

footer button, footer a {
  height: 5rem;
  width: 5rem;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.mode, .link, .repo {
  color: var(--blue);
  height: 3rem;
  width: 3rem;
}

.vs {
  background: url('./light.svg') no-repeat;
}

.vs-dark {
  background: url('./dark.svg') no-repeat;
}

.link {
  background: url('./link.svg') no-repeat;
}

.repo {
  background: url('./bbb.svg') no-repeat;
  color: white;
}

.swipe-left-button, .swipe-right-button {
  border-radius: 2.5rem;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 25%);
  background-color: var(--dark-gray);
  color: white;
}

.vs, .vs-dark, .link, .repo {
  background-size: contain;
}

dt, dd {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.4rem;
  margin: 0px;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
}

dd {
  position: relative;
  top: -.8rem;
  left: .7rem;
}

article,
header,
img,
main {
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
    
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}