body {
  margin: 0;
  color: var(--theme-color);
  background-color: var(--theme-bg);
}

button,
button:focus,
button:hover {
  color: var(--theme-bg);
  background-color: var(--theme-color);
}

button:focus,
button:hover {
  text-decoration: underline;
}

/* 
 * Alignment:
 * x-axis: center
 * y-axis: space between
 */
article {
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 0.1rem;
}

article,
main {
  display: flex;
  flex-direction: column;
}

img {
  border: solid 5px var(--theme-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header,
.preview,
details {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem 0;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 500px) {
  article {
    padding: 0.5rem;
    justify-content: space-evenly;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 1rem;
  }

  header,
  footer {
    max-height: 10vh;
  }

  main {
    max-height: 80vh;
    overflow-y: scroll;
  }
}
