:root {
  --blue: #44484A;
  --gray: #B3B7B9;
  --dark-gray: #656F73;
}

body {
  margin: 3rem;
  background-color: #2A3037;
  padding: 0;
  color: var(--blue);
}

article {
  height: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 8px rgb(0 0 0 / 40%);
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header img {
  height: 4rem;
  width: 4rem;
}

header div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--gray);
  line-height: 0.8rem;
  margin-bottom: .2rem;
}

p {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

main img {
  box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 25%);
}

img {
  border-radius: 1rem;
  outline: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

footer div {
  display: flex;
  gap: 3rem;
}

footer:last-child {
  justify-items: flex-end;
}

footer img {
  box-shadow: none;
  border-radius: unset;
  height: 2.5rem;
  margin: 0;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.vs {
  background: url('./light.svg') no-repeat;
}

.vs-dark, .hc-black {
  background: url('./dark.svg') no-repeat;
}


.vs, .vs-dark, .hc-black, .link, .repo {
  background-size: contain;
}

dl, ul {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

ul {
  gap: 1rem;
}

dt, dd, li {
  margin: 0;
  padding: 0;
}

dt, li {
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}

article,
header {
  margin-bottom: 1rem;
}
